<%= simple_form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>ß
      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
  <% else %>
    <%= f.hidden_field :user_id, value: 0 %>
  <% end %>

  <div class='form'>
    <%= f.input :keyword %>
  </div>

  <div class='form'>
    <p><strong>Optional search fields</strong></p>
    <%= f.input :zipcode %>
    <%= f.input :distance %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
